.main-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.main-screen__img {
    position: relative;
}

.main-screen__img a:first-child {
    padding: 5px;
    background-color: rgba(169, 128, 247, 0.8);
    border-radius: 5px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.main-screen__img a:first-child i {
    font-size: 20px;
    color: rgba(255,255,255,0.7);
}

.main-screen__search-bar {
    display: flex;
    border: 1px solid lightgray;
    width: 450px;
    border-radius: 30px;
    padding: 10px 15px;
    justify-content: space-between;
    align-items:center;
    margin: 25px 0;
}

.main-screen__search-bar input {
    width: 340px;
    border: none;
}

.main-screen__search-bar input:focus {
    outline: none;
}

.main-screen__search-bar__add-funcs button {
    font-size: 18px;
    background-color: white;
    border: none;
    margin-left: 5px;
}

.main-screen__search-bar__add-funcs button:first-child {
    font-size: 16px;
    color: inherit;
}

.main-screen__search-bar__add-funcs button:last-child {
    color: #4284F4;
}

.main-screen__search-btns {
    width: 280px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}
.main-screen__search-btns button {
    height: 37px;
    padding: 0 18px;
    border: none;
    border-radius: 8px;
    color: inherit;
    font-size: 14px;
    background-color: var(--light-gray);
}

.main-screen > a {
    color: blue;
    font-size: 13px;
    margin-bottom: 40px;
}

.main-screen > a:nth-of-type(2):visited,
.main-screen span:last-child a:visited
 {
    color: purple;
}

.main-screen span:last-child {
    color: black;
    font-size: 13px;
}

.main-screen span:last-child a {
 color: blue;
}