.main-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
}

.main-screen__search-bar {
    display: flex;
    border: 1px solid black;
    width: 450px;
    border-radius: 30px;
    padding: 11px 15px;
    justify-content: space-between;
    align-items:center;
    margin: 25px 0;

}

.main-screen__search-bar input {
    width: 340px;
}

.main-screen__search-btns {
    width: 280px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}
.main-screen__search-btns button {
    height: 37px;
    padding: 0 18px;
    border: none;
    border-radius: 8px;
    color: inherit;
    font-size: 14px;
}

.main-screen > a:nth-of-type(2) {
    color: blue;
    font-size: 13px;
    margin-bottom: 40px;
}

.main-screen > a:nth-of-type(2):visited,
.main-screen span:last-child a:visited
 {
    color: purple;
}

.main-screen span:last-child {
    color: black;
    font-size: 13px;
}

.main-screen span:last-child a {
 color: blue;
}