.nav {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    font-size: 13.5px;
}

.nav__contents {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 15px;
}

.nav__contents li {
    margin: 0 9px;
}

.nav__contents li:not(:nth-child(3)) {
    color: black;
}

.nav__contents__mail a:hover,
.nav__contents__search-image a:hover {
    color: gray;
}

.nav__contents__apps a:hover {
    color: black;
}

.nav__contents__account img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

